
#header{
    height: 100px;
    width:auto;
    background-color:rgb(114, 116, 153);
    font-size: 75px;
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    
}
#main{

    text-align: center;
}
form{
    margin-top:2px;
    height:20px;
    display:flex;
    gap:10px;
    justify-content:center;
}
body{
    background-color: aliceblue;
    overflow:hidden;
}
#search_input, #search_button,#submit_input,#submit_button{
    text-align:center;
    color:rgb(117, 124, 130);
    background-color:rgb(255, 255, 255);
    border-radius: 4px;
    border-width:1px;
    padding:3px;
}

#search_button:hover{
    
}
.headerButton{
    font-size: 30px;
    width:25%;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    height:100%;
    line-height: 100px;
    
}

#submitHeaderButton{
    line-height:33px;
}

.results{
    background-color:white;
}

#submit_form{

}
textarea{
    height: 500%;
    width: 50%;
}
#tag_link,#tag{
    position:relative;
    bottom:0%;
    right:0%;
    color:rgb(117, 124, 130);
    border:solid;
    border-width:1px;
    border-color:rgb(117, 124, 130);
}
#tag_link{
    border:none;
}
#gh_thumb{
    height:100%;
    width:100%;
    border:none;
}
#tag{
    position:absolute;
    height: 20px;
    display:flex;
    border-radius:3px;
}
#tag:hover{
    box-shadow: 0px 0px 0px 1px rgb(117, 124, 130);
}
#ships{
    text-align:center;
}
table{
    margin: 50px auto;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid #000;
}

th,td{
    padding: 5px;
}
#ships{
    width:100%;
}
.Deletes,.Edits{
    width:3%;
}


.headerButton:hover{
    animation-name: rotateTitle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor:pointer;
}
@keyframes rotateTitle {
    0%{ 
        transform: rotate(5deg) scale(.9);
    }
    49.99%{
        transform: rotate(5deg) scale(.9);
    }
    50%{
        transform: rotate(-4deg) scale(.95);
    }
    74.99%{
        transform: rotate(-4deg) scale(.95);
    }
    75%{
        transform: rotate(6deg) scale(1);
    }
    99.99%{
        transform: rotate(6deg) scale(1);
    }
    100%{   
        transform: rotate(5deg) scale(.9);
    }
}